API_ID=32742160
API_HASH=fcfeee466e270816fa067fbcdd51fad4
BOT_TOKEN=8673512824:AAHmdCQrGXdxp4fMGQe70ueYdkauldKJFRQ
LOGGER_ID=-1003745635449
MONGO_DB_URI=mongodb+srv://sudeeptelegram_db_user:tannu7421233@sudeepmusic.gcdu9h0.mongodb.net/sezukuu_public?retryWrites=true&w=majority
OWNER_ID=7372417242
STRING_SESSION=BQHzmxAATBMWTjaJ5Nc7MqoeIYMSvQ3Dj1GSQMujFIxoLxoGR1rIZOeQKqJush710NFFygGKF36gV-iaomdic21Wx6xItzdt4IJOOZ8nNwhePMC4suXNVPmUOuHG5fgL6IByvE-XHKihQIhAn7ITWhdsuYJfdq_USU5w3qrYGreUg1jwTFJIpo-KHLghGqEwrARt9T4jtiLSl4JJ3wvAMB4P2odnBF4hiWzOEppmFes_XtxZ-7vOwridu74qWDv16UYEN5ELqOfA3qd6ViGTYE_v7hDrUAPrbHnBIFiYmTBSP6Eqh4rGcmnDdKODY0pqahLHLRodmVA2EZNkSDuy2M8WMpU1sgAAAAH0JyqrAAR1l5kErRa0j7kSR5z6LDBrohU4dRu5SqEYSqMXUaeAxxGLVvtmj4_-zM4h7zuxHLzj2252ZuNA9NBPA4w39tcB9MjLLAAAAAHqdJ9GAA
