API_ID=38674666
API_HASH=b4f0fbf8fb560c4bc9e7b9f3698e474c
BOT_TOKEN=8163721603:AAF69vUMJGyK1GfpJGHqaUwoJ7ocK4xlGUE
LOGGER_ID=-1003745635449
MONGO_DB_URI=mongodb+srv://sudeeptelegram_db_user:tannu7421233@sudeepmusic.gcdu9h0.mongodb.net/sezukuu_public?retryWrites=true&w=majority
OWNER_ID=7372417242
STRING_SESSION=BQJOIOoAOvChn59gQFT2Zz0h7sl3NwIquU3ywEWWdEYkNt3nGnnAPRTusFfv6nhcSN5l5ttK7rHFtHX6b3yo9sALq98xdNiezWVuUB3c6_8Xrde1ykWl0IznioHx0ze9Ke7whBlUbz-7fYUjSXRmQ-Iv2Gh-tdrSXsBGnvsgH7V0S7ahiYYKyaZtgDJFL4RfRvFP7VFzUijMXZeV2h1z6AWhdo1_K_8p-4N4-r3kWYBqBFBbn27Gj0bijIxMQHzWiGR1l5kErRa0j7kSR5z6LDBrohU4dRu5SqEYSqMXUaeAxxGLVvtmj4_-zM4h7zuxHLzj2252ZuNA9NBPA4w39tcB9MjLLAAAAAHqdJ9GAA
